<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>BlueRoute</vendor>
  <vendor_url>https://github.com/ekkus93/blueroute</vendor_url>

  <action id="org.blueroute.modify">
    <description>Modify BlueRoute networking</description>
    <message>Authentication is required to modify BlueRoute networking</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <action id="org.blueroute.internet-sharing">
    <description>Change BlueRoute Internet sharing</description>
    <message>Authentication is required to change BlueRoute Internet sharing</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>
</policyconfig>
